//Colors
$mainColor: #000C24;
$secondaryColor: #928A97;
$swiperColor: #C4C4C4;
$white: #FFFFFF;
$headerColor: #F44336;

//Fonts variables
$fontsize: 24px;
$headerFontsize: 32px;
$navFontsize: 18px;
$smallestFontsize: 12px;
$smallFontsize: 14px;
$mediumFontsize: 16px